
@font-face {
  font-family: 'AvantGarde-Demi';
  src: url('AvantGarde-Demi.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde-Demi';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('AvantGarde-Demi.ttf')  format('truetype'), url('AvantGarde-Demi.svg#AvantGarde-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}


